---
import H1 from "@/components/H1.astro";
import Icon from "@/components/Icon.astro";

const contacts = [
  {
    name: "Contact",
    icon: "envelope",
    href: "#contact",
  },
  {
    name: "GitHub",
    icon: "github",
    href: "https://github.com/awbranch",
  },
  {
    name: "LinkedIn",
    icon: "linkedin",
    href: "https://www.linkedin.com/in/awbranch",
  },
];
---

<div
  class="mt-10 grid grid-flow-row gap-10 lg:auto-cols-fr lg:grid-flow-col lg:gap-20"
>
  <div class="order-1 space-y-6">
    <H1>About</H1>
    <p>
      I work directly with my clients, handling each project's strategy, design,
      and development. When needed, I bring in experts in branding, user
      experience, and content writing to perfect the final product. This
      collaborative approach ensures that a well-built solution is delivered
      quickly and affordably, keeping the project on track and aligned with your
      vision.
    </p>
    <p>
      I have been building software professionally since before the dawn of the
      web. I spent twenty years writing software for startups in digital
      publishing, internet advertising, and e-learning. For the past decade,
      I've been working to help non-profits with socially responsible missions.
    </p>
    <p>
      I started Branch Software Studio in 2024 to share everything I've learned
      and help purpose-driven organizations expand their impact. I hope to
      partner with you to make a positive difference.
    </p>
  </div>
  <div class="order-2 max-w-md lg:order-1 lg:mt-8 lg:max-w-full">
    <img
      src="headshot.jpg"
      class="w-full rounded-2xl border-8 border-gray-900"
    />
    <h2 class="mt-5 text-center text-xl font-bold uppercase">Andrew Branch</h2>
    <ul class="mx-auto mt-3 flex flex-row justify-center space-x-6">
      {
        contacts.map((c) => (
          <li>
            <a href={c.href} aria-label={c.name}>
              <Icon icon={c.icon} color="black" size={30} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
