---
import H1 from "@/components/H1.astro";
import ContactForm from "@/components/react/ContactForm";
import type { idText } from "typescript";
---

<div class="flex flex-col gap-16 lg:flex-row lg:gap-20">
  <div class="flex-1">
    <H1 classes="mb-6">Contact</H1>
    <p class="">Drop me a message describing how we could work together.</p>
    <ul class="mt-6 space-y-1">
      <li>
        <a
          class="font-medium hover:text-white"
          href="mailto:hello@branchstudio.io">hello@branchstudio.io</a
        >
      </li>
      <li>
        <a class="text-sm hover:text-white" href="tel:5856155942"
          >ph: (585) 615-5942</a
        >
      </li>
    </ul>
  </div>
  <div class="flex-1">
    <ContactForm client:visible />
  </div>
</div>
