---
import Section from "@/components/Section.astro";

const startYear = 2023;
const year = new Date().getFullYear();
---

<footer>
  <Section id="footer" background="black">
    <div class="flex flex-col items-center justify-center gap-4 sm:flex-row">
      <a href="/">
        <img
          width={56}
          height={56}
          src="/logo-blue.svg"
          class="h-14"
          alt="Branch Software Studio Logo"
        />
      </a>
      <div class="text-center sm:text-left">
        <p class="text-sm font-medium">
          Simple, creative, and effective websites.
        </p>
        <p class="text-xs opacity-80">
          © {startYear} - {year} Branch Software Studio LLC. All rights reserved.
        </p>
      </div>
    </div>
  </Section>
</footer>
