---
import LinkButton from "@/components/LinkButton.astro";
import Image from "@/components/Image.astro";
---

<div
  class="my-0 grid max-w-2xl grid-flow-row gap-10 lg:my-10 lg:max-w-full lg:auto-cols-fr lg:grid-flow-col lg:gap-20"
>
  <div class="max-w-lg lg:max-w-full">
    <Image
      src="/trees.jpg"
      loading="lazy"
      alt="Abstract Trees"
      class="w-full rounded-2xl border-8 border-gray-900"
      sizes="(max-width: 768px) 100vw, 50vw"
    />
  </div>
  <div class="mt-5 max-w-lg space-y-6 lg:mt-20 lg:max-w-md">
    <div class="inline-block">
      <h1
        class="border-b-4 border-gray-900 font-title text-[3.3rem] font-blackish uppercase leading-none xs:text-[4.8rem]"
      >
        BRANCH
      </h1>
      <h2
        class="mt-2 font-title text-[1.5rem] font-semibold uppercase leading-none text-viking-600 xs:text-[2.2rem]"
      >
        Software Studio
      </h2>
    </div>
    <p class="max-w-[360px] text-lg">
      Branch Software Studio creates simple, creative, and effective websites.
    </p>
    <div>
      <LinkButton href="#services">Our Services</LinkButton>
    </div>
  </div>
</div>
