---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a
	href={href}
	class="block text-md font-semibold hover:underline hover:underline-offset-4 hover:text-viking-600"
>
	<slot />
</a>
