---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a
	href={href}
	class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 inline-flex items-center rounded-md py-2 px-3 text-sm font-medium"
>
	<slot />
</a>
