---
import { twMerge } from "tailwind-merge";
const { href, classes } = Astro.props;
---

<a
  href={href}
  class={twMerge(
    "inline-block rounded-lg bg-gray-800 px-5 py-2.5 text-center font-medium text-white hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800",
    classes
  )}
>
  <slot />
</a>
