---

---

<div
  class="prose-h2:mt-16 prose-h2:text-2xl prose-h2:font-bold
  prose-h2:tracking-tight prose-h2:text-gray-900 prose-p:mt-6 prose-ul:mt-8
  prose-ul:max-w-xl prose-ul:space-y-8 prose-ul:text-gray-600 max-w-2xl"
>
  <slot />
</div>

<!-- 
  
  mt-16 text-2xl font-bold tracking-tight text-gray-900

  prose-h2-text-2xl prose-h2-font-bold prose-h2-tracking-tight prose-h2-text-gray-900
  
  <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
  From beginner to expert in 3 hours
</h2> -->
