---
import ServiceIcon from "@/components/ServiceIcon.astro";
import H1 from "@/components/H1.astro";
---

<div class="text-left lg:text-center">
  <H1>Services</H1>

  <p class="mx-auto my-10 max-w-xl">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
  </p>
  <div
    class="mx-auto mt-20 flex max-w-4xl flex-col justify-between gap-20 lg:flex-row lg:gap-5"
  >
    {
      [1, 2, 3].map((i) => (
        <div class="flex flex-col items-center">
          <ServiceIcon />
          <p class="text-red font-red max-w-sm">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore
          </p>
        </div>
      ))
    }
  </div>
</div>
