---
import ServiceIcon from "@/components/ServiceIcon.astro";
import H1 from "@/components/H1.astro";
---

<div class="text-center">
  <H1>Services</H1>
  <div class="mx-auto mt-10 flex max-w-4xl justify-between gap-5">
    <ServiceIcon />
    <ServiceIcon />
    <ServiceIcon />
  </div>
</div>
