---
import Icon from "@/components/Icon.astro";
import H1 from "@/components/H1.astro";

const services = [
  {
    icon: "puzzle",
    title: "Strategy",
    text: "We will take a dive deep into understanding your goals and audience to develop a tailored web strategy that drives engagement and growth.",
  },
  {
    icon: "pencil",
    title: "Design",
    text: "Our designs will bring your vision to life with a well-organized and thoughtful user experience that captures your brand’s essence and delights your customers.",
  },
  {
    icon: "code",
    title: "Development",
    text: "We develop scalable and secure websites using the latest tech, that ensures your site performs flawlessly on all devices, no matter how many people visit.",
  },
];
---

<div class="text-center sm:text-left lg:text-center">
  <H1>Services</H1>
  <p class="mx-auto mt-6 max-w-xl text-center">
    We deliver simple, creative, and effective websites in collaboration with a
    talented network of freelancers. Together, we ensure your digital presence
    meets your goals with precision and care.
  </p>

  <div
    class="mx-auto mt-14 flex flex-col justify-around space-y-20 sm:space-y-8 lg:flex-row lg:space-y-0"
  >
    {
      services.map((s) => (
        <div class="mx-auto flex max-w-xs flex-col items-center gap-6 sm:max-w-full sm:flex-row lg:max-w-52 lg:flex-col ">
          <div class="flex-none">
            <div class="flex h-32 w-32 items-center justify-center rounded-full bg-gray-400 bg-opacity-10 p-5 text-lg text-white">
              <Icon icon={s.icon} size={48} classes="text-white" />
            </div>
          </div>
          <div class="flex-1">
            <h2 class="text-2xl font-bold uppercase">{s.title}</h2>
            <p class="mt-2 text-sm leading-normal opacity-70">{s.text}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
