---
import "@/styles/global.css";
import Card from "@/components/Card.astro";
import Navbar from "@/components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
const org = "Branch Sofware Studio";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title.length > 0 ? `${title} - ${org}` : org}</title>
		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
		></script>
	</head>
	<body class="bg-wood-100">
		<Navbar />
		<slot />
	</body>
</html>
